/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.page {
  width: 100%;
  padding: 0%;
  float: left;
  display: inline-block;
  font-family: 'Garuda';
}
.page .head {
  width: 100%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #111111;
  padding-bottom: 3%;
  margin-bottom: 3%;
  font-size: 14px;
  color: #000000;
}
.page .head .logo {
  width: 70%;
  float: left;
  display: inline-block;
}
.page .head .logo .img {
  width: 16%;
  float: left;
  display: inline-block;
}
.page .head .logo .img img {
  width: 100%;
  float: left;
  display: inline-block;
}
.page .head .logo .name {
  width: 80%;
  float: right;
  display: inline-block;
  font-weight: bold;
  padding-top: 7px;
}
.page .head .logo .name p.mini {
  font-size: 11px;
  font-weight: normal;
  color: #333333;
}
.page .head .title {
  width: 30%;
  float: left;
  display: inline-block;
  text-align: right;
  padding-top: 7px;
}
.page .head .title p {
  font-weight: bold;
}
.page .head .title p.mini {
  font-size: 11px;
  font-weight: normal;
  color: #333333;
}
.page .info {
  width: 100%;
  float: left;
  display: inline-block;
  padding-bottom: 2%;
  margin-bottom: 2%;
  font-size: 12px;
  line-height: 1.5em;
}
.page .info .items {
  width: 33.33%;
  float: left;
  display: inline-block;
  padding-bottom: 1%;
  color: #333333;
}
.page .info .items strong {
  color: #000000;
}
.page .table {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 11px;
  padding-bottom: 32%;
  border-top: 1px solid #111111;
}
.page .table .col {
  width: 33%;
  float: left;
  display: inline-block;
  border-right: 1px solid #111111;
  color: #333333;
}
.page .table .col h2 {
  width: 94%;
  padding: 3%;
  background: #EEEEEE;
  color: #000000;
}
.page .table .col .col-items {
  width: 94%;
  padding: 3%;
  float: left;
  display: inline-block;
  line-height: 1.5em;
  border-bottom: 1px solid #111111;
}
.page .table .col .col-items .c {
  width: 70%;
  float: left;
  display: inline-block;
}
.page .table .col .col-items .v {
  width: 28%;
  float: right;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  color: #000000;
}
.page .table .col .summary {
  font-weight: bold;
  background: #EEEEEE;
}
.page .table .col .hidden {
  visibility: hidden;
  color: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
}
.page .table .col .hidden .v {
  color: #FFFFFF;
}
.page .table .income {
  border-left: 1px solid #111111;
}
.page .note {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 12px;
}
.page .note .left {
  width: 50%;
  float: left;
  display: inline-block;
}
.page .note .right {
  width: 50%;
  float: right;
  display: inline-block;
  text-align: right;
  color: #FF0000;
}
